.grand {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .grand {
    width: 96%;
  }
}
.grand .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  position: relative;
}
@media screen and (max-width: 768px) {
  .grand .top {
    padding: 20px 0;
  }
}
.grand .top .links {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .grand .top .links {
    gap: 10px;
  }
}
.grand .top .links > h1 {
  font-weight: 600;
  font-size: 26px;
}
@media screen and (max-width: 768px) {
  .grand .top .links > h1 {
    font-size: 20px;
  }
}
.grand .top .links .search {
  position: relative;
  width: 100%;
  height: 50px;
}
@media screen and (max-width: 768px) {
  .grand .top .links .search {
    display: flex !important;
    height: 30px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
  }
}
.grand .top .links .search > input {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  border: none;
  padding: 0 10px;
  outline: none;
  text-indent: 30px;
  background-color: white;
}
@media screen and (max-width: 768px) {
  .grand .top .links .search > input:focus {
    width: 600px;
  }
}
.grand .top .links .search > input::-moz-placeholder {
  font-size: 16px;
  text-indent: 30px;
  color: var(--prm-d-blue);
}
.grand .top .links .search > input:-ms-input-placeholder {
  font-size: 16px;
  text-indent: 30px;
  color: var(--prm-d-blue);
}
.grand .top .links .search > input::placeholder {
  font-size: 16px;
  text-indent: 30px;
  color: var(--prm-d-blue);
}
@media screen and (max-width: 768px) {
  .grand .top .links .search > input::-moz-placeholder {
    font-size: 12px;
  }
  .grand .top .links .search > input:-ms-input-placeholder {
    font-size: 12px;
  }
  .grand .top .links .search > input::placeholder {
    font-size: 12px;
  }
}
.grand .top .links .search > svg {
  position: absolute;
  left: 13px;
  top: 50%;
  width: 19px;
  transform: translateY(-50%);
}
.grand .top .links .search > svg path {
  stroke: var(--prm-d-blue);
}
.grand .top .links > div {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .grand .top .links > div {
    display: none;
  }
}
.grand .top .links > div a {
  font-size: 14px;
  color: var(--prm-d-blue);
  text-decoration: none;
}
.grand .top .links > div a:hover {
  color: var(--prm-blue);
}
.grand .top > button {
  border: none;
  padding: 1em 2em;
  cursor: pointer;
  border-radius: 20px;
  font-size: 14px;
  background-color: white;
}
@media screen and (max-width: 768px) {
  .grand .top > button {
    padding: 0.4rem 1rem;
    font-size: 12px;
  }
}
.grand .top img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .grand .top img {
    width: 30px;
    height: 30px;
  }
}
.grand .top_2 {
  display: flex;
  margin: 30px 0;
  margin-top: 0;
  justify-content: space-between;
}
.grand .main {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 2fr;
}
@media screen and (max-width: 768px) {
  .grand .main {
    margin-top: 30px;
  }
}/*# sourceMappingURL=chatMe.module.css.map */