.sign_in_wrp {
  width: 400px;
  height: 500px;
  //   background-color: var(--white-p);
  background-color: #ffffff40;
  backdrop-filter: blur(52px);
  margin: 50px auto;
  padding: 2rem 1.5rem;
  border-radius: 30px;

  > .top {
    color: var(--blue-2);
    font-size: 24px;
    text-align: center;
  }

  > .form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    input {
      //   display: block;
      border: none;
      background-color: transparent;
      height: 50px;
      padding: 10px;
      border-bottom: 1px solid var(--white-p);
    }
  }
}
