.sign_in_wrp {
  width: 400px;
  background-color: #ffffff40;
  backdrop-filter: blur(52px);
  margin: 100px auto;
  padding: 2rem 1.5rem;
  border-radius: 30px;
  box-shadow: 2px 2px 10px #00000007;

  @media screen and (max-width: 768px) {
    width: 300px;
    margin: 20px auto;
  }
  .error_m {
    color: white;
    font-size: 12px;
    padding: 0.3em;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(228, 93, 93);

    @media screen and (max-width: 768px) {
      font-size: 8px;
    }
  }
  > .top {
    color: var(--blue-2);
    font-size: 24px;
    text-align: center;
  }
  > .title {
    font-size: 28px;
    padding-bottom: 16px;
    text-align: center;
    color: var(--blue-2);

    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }
  > .form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      border: none;
      background-color: transparent;
      height: 50px;
      padding: 10px;
      border-bottom: 1px solid var(--blue);
      outline: none;
    }

    .file {
      display: none;
    }
    .file_label {
      display: flex;
      align-items: center;
      cursor: pointer;

      > .folder {
        font-size: 50px;
        color: var(--blue-2);
      }
      > span {
        color: var(--blue);
        font-size: 12px;
        margin-left: 20px;
      }
    }
  }

  div:last-child {
    align-self: flex-end;
    justify-content: flex-end;
    margin-top: 20px;

    @media screen and (max-width: 768px) {
      justify-content: center;
      align-items: center;
    }

    a {
      color: var(--blue);
      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }
    span {
      font-size: 14px;
      color: var(--blue-2);
      padding-right: 5px;

      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }

  .google {
    background-color: var(--blue-2);
    color: var(--w);
    padding: 1rem 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  button {
    cursor: pointer;
    border: none;
    padding: 1em;
    width: 100%;

    @media screen and (max-width: 768px) {
      padding: 0.5em;
    }
    .google_icon {
      font-size: 30px;

      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }
  }
}
