.message {
  padding: 30px;
  height: calc(100vh - 386px);
  // height: calc(100vh - 186px);
  // overflow-y: scroll;
  position: relative;

  // .top {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   background-color: var(--w);
  //   background-color: #ffffff50;
  //   backdrop-filter: blur(10px);
  //   height: 80px;
  //   padding: 0 1rem;
  //   border-radius: 20px 20px 0 0;

  //   div:first-child {
  //     display: flex;
  //     gap: 10px;
  //     align-items: center;

  //     > img {
  //       width: 50px;
  //       object-fit: cover;
  //       object-position: center;
  //       border-radius: 50%;
  //       height: 50px;
  //     }

  //     > div {
  //       p:first-child {
  //         font-size: 18px;
  //         font-weight: 600;
  //       }

  //       p:last-child {
  //         font-size: 12px;
  //         color: var(--w-2);
  //       }
  //     }
  //   }

  //   .dots {
  //     display: flex;
  //     gap: 2px;
  //     border: 1px solid #eee;
  //     padding: 0.5em 0.1em;
  //     box-shadow: 0 0 2px #00000030;
  //     border-radius: 50%;
  //     div {
  //       border-radius: 50px;
  //       width: 5px;
  //       height: 5px;
  //       background-color: var(--milk);
  //     }
  //   }
  // }

  .btm {
    background-color: white;
    border-radius: 30px;
    margin-bottom: 30px;
    height: calc(100vh - 186px);
    // height: calc(100vh - px);
    // overflow-y: scroll;
    width: 100%;
    margin-top: 5px;
    padding: 2rem;
    padding-top: 0;
    // padding-bottom: 0px;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }

    .msgs_wrp {
      height: calc(100vh - 306px);
      // height: calc(100vh - 286px);
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    > .date {
      text-align: center;
      // font-weight: ;
      color: var(--deep-blue);
      margin-top: 20px;
      width: max-content;
      margin: 0 auto;
      padding: 0.2em 0.5em;
      font-size: 14px;

      border-radius: 20px;
      background-color: var(--sky-blue);
      // background-color: var(--white-p-2);
    }

    .msgs {
      display: flex;
      gap: 10px;
      margin-top: 50px;

      .img_f {
        display: flex;
        flex-direction: column;

        > img {
          width: 40px;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
          height: 40px;
        }

        > p {
          font-size: 10px;
        }
      }

      .msg {
        font-size: 12px;
        padding: 1.3rem;
        // border: 3px solid rgb(250, 249, 249);
        // box-shadow: 0 0 5px #00000030;
        max-width: max-content;
        border-radius: 0 30px 30px 30px;
      }

      .owner_msg {
        background-color: var(--prm-w);
      }

      .recipient_msg {
        color: white;
        background-color: var(--prm-brown);
        // background-color: rgb(23, 117, 81);
      }
    }

    .recipient {
      flex-direction: row-reverse;
    }
  }
}
.message::-webkit-scrollbar {
  display: none;
}
