.msg {
  display: flex;
  gap: 10px;
  padding: 1.3rem 0.8rem;
  align-items: center;
  word-wrap: break-word;
  word-break: break-all;
  // border-bottom: 1px solid var(--);
  // background-color: var(--milk);
  // border-radius: 10px;

  @media screen and(max-width:768px) {
    padding: 0.5rem 0.4rem;
  }

  > .img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;

    @media screen and(max-width:768px) {
      width: 30px;
      height: 30px;
    }
  }

  > .msg_contents {
    display: flex;
    flex-direction: column;
    gap: 5px;

    > .msg_name {
      font-size: 15px;
      text-transform: capitalize;
      font-weight: 700;
      color: var(--prm-d-blue);

      @media screen and(max-width:768px) {
        font-size: 12px;
      }
      @media screen and(max-width:480px) {
        font-size: 9px;
      }
      // color: var(--b);
    }

    > .msg_msg {
      font-size: 12px;
      color: var(--deep-blue);

      @media screen and(max-width:768px) {
        font-size: 7px;
      }
    }
  }
}
