.msg {
  display: flex;
  gap: 20px;
  padding: 1.3rem 0.8rem;
  // background-color: var(--milk);
  border-radius: 10px;
  background-color: var(--w);
  background-color: #ffffff50;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px #00000020;

  > .img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }

  > .msg_contents {
    display: flex;
    flex-direction: column;
    gap: 5px;

    > .msg_name {
      font-size: 18px;
      font-weight: 700;
      color: var(--b);
    }

    > .msg_msg {
      font-size: 12px;
      color: var(--deep-blue);
    }
  }

  > .time_wrp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .dates {
      font-size: 12px;
      color: var(--w-2);
    }

    .no {
      background-color: var(--blue-3);
      width: 8px;
      border-radius: 50%;
      height: 8px;
    }
  }
}
