html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;

  background-color: var(--white-p);
  /* background-color: var(--black); */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #0b0d0e;
  --deep-blue: #374843;
  --blue: #4e5f62;
  --deep-brown: #463530;
  --sky-blue: #749498;
  --sky-blue-prm: #92aaa8;
  --brown: #926653;
  --milk: #dcdcd8;

  /* other */
  --white-p: #f3f4f8;
  --white-p-2: #cbc3c4;
  --blue-3: #0b22f6;
  /* --white-p: #5767b0; */
  --blue-2: #2b2656;
  --pink: #b4656e;
}
