@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;600;700;800&family=Poppins:wght@400;500;600&family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;

  background-color: var(--white-p);
  background-color: rgb(233, 237, 241);
  /* background-color: #02020e; */
  /* background-color: #1a1a1a; */
  /* background-color: #0d0d0d; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --b: #1a1a1a;
  --w: #f2f2f2;
  --w-2: #b3b3b3;

  --black: #0b0d0e;
  --deep-blue: #374843;
  --blue: #4e5f62;
  --deep-brown: #463530;
  --sky-blue: #749498;
  --sky-blue-prm: #92aaa8;
  --brown: #926653;
  --milk: #dcdcd8;

  /* other */
  --white-p: #f3f4f8;
  --white-p-2: #cbc3c4;
  --blue-3: #0b22f6;
  /* --white-p: #5767b0; */
  --blue-2: #2b2656;
  --pink: #b4656e;
}
