@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;600;700;800&family=Poppins:wght@400;500;600&family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow-y: hidden;
  background-color: var(--white-p);
  background-color: rgb(233, 237, 241);
  /* background-image: linear-gradient(90deg, #0b22f6, #2b2656); */
  background-color: var(--prm-w);

  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --b: #1a1a1a;
  --w: #f2f2f2;
  --w-2: #b3b3b3;

  --black: #0b0d0e;
  --deep-blue: #374843;
  --blue: #4e5f62;
  --deep-brown: #463530;
  --sky-blue: #749498;
  --sky-blue-prm: #92aaa8;
  --brown: #926653;
  --milk: #dcdcd8;

  /* other */
  --white-p: #f3f4f8;
  --white-p-2: #cbc3c4;
  --blue-3: #0b22f6;
  /* --white-p: #5767b0; */
  --blue-2: #2b2656;
  --pink: #b4656e;

  --prm-w: #f2f5f9;
  --prm-blue: #aeb5c2;
  --prm-d-blue: #140f26;
  --prm-brown: #746373;
  --prm-green: #2e4043;
}

.avatar {
  font-size: 50px;
  color: gray;
}
@media screen and (max-width: 768px) {
  .avatar {
    font-size: 30px;
  }
}
